.apartment {
  background-color: #242424;
  height: 100%;
}
.apartment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  padding: 30px 0 30px;
  color: #a98361;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}

.apartment-wrapper img {
  width: 230px;
  height: 200px;
  padding: 10px;
  filter: grayscale(100%);
  transition: 1s;
  cursor: pointer;
}
.apartment-wrapper img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.box {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.box img {
  background: #fff;
  padding: 20px;
  width: 800px;
  height: 600px;
}

.box:target {
  display: table;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .apartment > h1 {
    font-size: 1.7rem;
  }
  .apartment-wrapper img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    filter: none;
    padding: 10px 0;
  }
  .apartment-wrapper img:hover {
    transform: none;
  }
}
