video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > p {
  margin-top: -100px;
  margin-left: 400px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
  font-size: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (min-width: 769px) and (max-width: 1223px) {
  .hero-container p {
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .hero-container p {
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
